.navbar-brand
{ 
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 12px;
    color: white;
    border-right: 1px solid white;
}
.nav-link{ 
    color: white !important
}
a
{
    border-right: 1px solid white;
}
.wrapper{
    width: 75%;
    margin-left: 12.5%;
}
.color{
    background-color: blue;
    color: white !important;
}